:root {
    --primary-green: rgb(30, 124, 52)

}

.body {
    margin: 0;
    height: 100%;
    background-color: rgba(17, 71, 30, 0.432);
}

.main {
    background-color: white;
}

/* NAVBAR */
.navbar {
    background-color: var(--primary-green);
}

.nav {
    background-color: white;
    border-bottom: 2em;
    border-color: black;
}

.nav-link {
    color: black;
}

/* BLUEPRINT */
.list-group {
    overflow: auto;
    max-height: 30em;
}

.list-group-item:nth-of-type(odd) {
    background-color: rgb(230, 230, 230);
}



.modal-select {
    border-radius: 0.3em;
    border-color: rgb(190, 190, 190);
}

.special-option {
    background-color: rgb(210, 231, 214);
    font-weight: 500;
}

.file-name-display {
    font-size: large;
    font-weight: 500;
}

/* UPLOAD */
#file-upload-form-box {
    border-radius: 0.5em;
}

.debug-bg {
    background-color: rgb(199, 126, 126);
}

.debug-bg-2 {
    background-color: rgb(126, 155, 199);
}