:root {
    --primary-teal: teal;
    --very-light-teal: #E0F2F1;
    --light-teal: #B2DFDB;
    --light-medium-teal: #80CBC4;
    --medium-teal: #26A69A;
    --dark-medium-teal: #00897B;
    --dark-teal: #00695C;
    --very-dark-teal: #004D40;
    --very-very-dark-teal: #003f34;

    --transparent: rgba(0, 0, 0, 0);


    --body-bg-light: var(--light-teal);
    --body-bg-dark: var(--very-very-dark-teal);

    --main-bg-light: var(--light-teal);
    --main-bg-dark: var(--very-dark-teal);

    --hover-color: #64ffdbb0;

    --border-thickness: 0px;
    --border-radius: 0.3em;
    --border-color: #002b239f;

    --heavy-font: 400;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 0px 0px var(--very-very-dark-teal);
}

h2 {
    margin-top: 6rem;
    text-align: center;
    color: var(--very-light-teal);
}

.body {
    background-image: linear-gradient(to top, var(--body-bg-dark), var(--body-bg-light));
    height: 100%;
}

.main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-image: linear-gradient(to top, var(--main-bg-dark), var(--main-bg-light));
    height: calc(100% - 49px);
    padding-bottom: 1em;
    box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.3);
}

/* NAVBAR */
.navbar {
    background-color: var(--primary-teal);
}

.navbar-brand {
    font-size: 24px;
    font-weight: 600;
}

.nav {
    border-bottom: 2em;
    font-size: large;
    font-weight: var(--heavy-font);
}

.nav-link {
    color: black;
}


/* BLUEPRINT */
.dropdown-menu {
    padding: 0px 0px 0px 0px;
}

.seperator-line {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* TAB BUTTONS */
#row-tab, #col-tab {
    color: rgba(255, 255, 255, 0.788);
    background-color: #86bbb6;

    border: 1px #003f3471 solid;

    font-weight: var(--heavy-font);

    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
}

#row-tab.active, #col-tab.active {
    background-color: var(--dark-medium-teal);
    color: white;
}

#row-tab {
    border-right: 0px;
}
#col-tab {
    border-left: 0px;
}

#source-cols-list, #source-rows-list {
    margin-top: 10px;
}

#user-group-select {
    margin-top: 0px;
    padding-bottom: 3px;
    background-color: var(--very-light-teal);
}

#user-list {
    margin-top: 10px;
}

.list-group {
    /* font-family: 'Courier New', Courier, monospace; */
    overflow: auto;
    max-height: 36em;
    border: 1px var(--border-color) solid;
    border-top: 0px;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.418);
}

.list-group-item {
    border: 1px var(--border-color) solid;
}

.list-group-item:nth-of-type(odd) {
    background-color: var(--light-medium-teal);
}

.list-group-item:nth-of-type(even) {
    background-color: var(--light-teal);
}

.list-group-item:hover {
    background-color: var(--hover-color);
    transition: background 0.2s ease-in-out;
}

#user-group-select {
    font-weight: var(--heavy-font);
    font-size: 18px;
}

.special-option {
    background-color: var(--light-teal);
    font-weight: 500;
}

.filename-display {
    padding-top: 10px;
    font-size: large;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.863);
}


/* MODAL WINDOW */
.modal-select {
    border-radius: 0.3em;
    border-color: var(--border-color);
}

/* HOMEPAGE */
#file-upload-form-box {
    border: 1px var(--very-light-teal) solid;
    border-radius: var(--border-radius);

    background-color: rgba(red, green, blue, 0.5);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.418);
}

.large-font {
    font-size: larger;
}


.matrix-input-label {
    padding-top: 5px;
    margin: 0px;
    color: white;
    text-shadow: 0px 0px var(--very-dark-teal);
    float: left;
    font-size: 24px;
    font-weight: var(--heavy-font);
    max-width: 10rem;
}

.matrix-input {
    max-width: 4.5rem;
    font-size: medium;
    font-weight: var(--heavy-font);
    text-transform: uppercase;
}

#submit-button, #modal-ok-button {
    background-color: var(--dark-teal);
    color: white;
}

#submit-button:hover, #modal-ok-button:hover    {
    background-color: var(--hover-color);
    color: black;
}

#submit-button:active {
    background-color: #A7FFEB;
    box-shadow: 0 5px rgba(0, 0, 0, 0.329);
    transform: translateY(4px);
}

.error-message-box {
    background-color: #dd2c00b0;
    border-radius: 0.3em;
    margin: 10px 0px 0px 0px;
    padding: 0px 0px;
}

.error-message {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

#error-message {
    padding-left: 1em;
}

.card-box {
    background-image: linear-gradient(to top, rgba(38, 166, 153, 0.3), rgba(178, 223, 219, 0.3));
    color: var(--very-light-teal);
    border: 1px white solid;
    border-radius: var(--border-radius);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.418);
    height: 100%;
}


.step-title {
    color: var(--very-light-teal);
    text-align: center;
}
.debug-bg {
    background-color: rgb(199, 126, 126);
}

.debug-bg-2 {
    background-color: rgb(126, 155, 199);
}