{% extends "layout.html" %}

{% block title %}How To Format{% endblock %}

{% block main %}
<main class="container main-how-to">
    <h3 class="segment-title">How to Format Your Matrix</h3>
    <hr class="seperator-white">

    <h5 class="segment-title">
        As you can see here each row and column has a unique name. <br>
        A row and a column can have the same name <br>but two rows or two columns cannot.
    </h5>
    <div class="row">
        <!-- SPACE -->
        <div class="col-sm"></div>

        <!-- IMAGE -->
        <div class="col">
            <img src="../static/images/how-to-use/matrix.png" height="220">
        </div>

        <!-- SPACE -->
        <div class="col-sm"></div>
    </div>

    <h4 class="segment-title pt-5" style="text-decoration: underline;">
        Don't Format Like These
    </h4>

    <div class="row mt-2">
        <!-- SPACE -->
        <div class="col-sm"></div>

        <!-- IMAGE -->
        <div class="col">
            <img src="../static/images/incorrect-formats/empty-col-1.png" height="250">
        </div>

        <!-- SPACE -->
        <div class="col-sm"></div>
    </div>


    <div class="row mt-5">
        <!-- SPACE -->
        <div class="col-sm"></div>

        <!-- IMAGE -->
        <div class="col">
            <img src="../static/images/incorrect-formats/empty-col-2.png" height="250">
        </div>

        <!-- SPACE -->
        <div class="col-sm"></div>
    </div>

    <div class="row mt-5">
        <!-- SPACE -->
        <div class="col-sm"></div>

        <!-- IMAGE -->
        <div class="col">
            <img src="../static/images/incorrect-formats/empty-row-1.png" height="220" style="padding-right: 8em;">
        </div>

        <!-- SPACE -->
        <div class="col-sm"></div>
    </div>

    <div class="row mt-5">
        <!-- SPACE -->
        <div class="col-sm"></div>

        <!-- IMAGE -->
        <div class="col">
            <img src="../static/images/incorrect-formats/empty-row-2.png" height="220" style="padding-right: 8em;">
        </div>

        <!-- SPACE -->
        <div class="col-sm"></div>
    </div>

    <div class="row mt-5">
        <!-- SPACE -->
        <div class="col-sm"></div>

        <!-- IMAGE -->
        <div class="col">
            <img src="../static/images/incorrect-formats/nan-values.png" height="180">
        </div>

        <!-- SPACE -->
        <div class="col-sm"></div>
    </div>

    <hr class="seperator-white">
</main>
{% endblock %}