{% extends "layout.html" %}
{% block title %}Upload{% endblock %}

{% block script %}
<script defer type="text/javascript" src="../static/scripts/index/upload.js"></script>
{% endblock %}

{% block main %}
<!-- UPLOAD SECTION -->
<div class="row pt-5 pb-3">
    <!-- LEFT COLUMN -->
    <div class="col-sm-4"></div>

    <!-- MID COLUMN -->
    <div class="col-sm-4">
        <h1 style="text-align: center;">Do these things with your matrix.<br>And more...</h1>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-sm-4"></div>
</div>


<div class="row">
    <!-- LEFT COLUMN -->
    <div class="col-sm-2"></div>

    <!-- MID COLUMN -->
    <!-- UPLOAD FORM -->
    <div class="col border border-1 border text-center" id="file-upload-form-box">
        <form action="/" method="post" enctype="multipart/form-data"  class="pt-2 pb-3">
            <div>
                <!-- File Input -->
                <input type="file" class="form-control form-control-lg mt-4" id="file-input" name="file-input" accept=".xls,.xlsx,.csv">
                <div class="row mt-3 justify-content-center">
                    <!-- First Row -->
                    <label for="first-row" class="col form-label matrix-input-label">First Row:</label>
                    <input id="first-row" name="first-row" class="col form-control matrix-input" type="number" min=0>
                    <!-- Last Row -->
                    <label for="last-row" class="col form-label matrix-input-label">Last Row:</label>
                    <input id="last-row" name="last-row" class="col form-control matrix-input" type="number" min=0>
                </div>
                <div class="row mt-3 justify-content-center">
                    <!-- First Col -->
                    <label for="first-col" class="col form-label matrix-input-label">First Col:</label>
                    <input id="first-col" name="first-col" class="col form-control matrix-input" type="text" min=0>
                    <!-- Last Col -->
                    <label for="last-col" class="col form-label matrix-input-label">Last Col:</label>
                    <input id="last-col" name="last-col" class="col form-control matrix-input" type="text" min=0>
                </div>


                <!-- Error Box -->
                {% if error %}
                    <div class="error-message-box">
                        <p class="error-message pb-2 pt-2">
                            <strong>Error:</strong> {{ error }}
                        </p>
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-lg mt-3 justify-content-center" id="submit-button">Submit</button>
        </form>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-sm-2"></div>
</div>

<!-- MIDDLE TITLE -->
<div class="container mt-5 mb-5 text-center">
    <h2>How It Works</h2>
    <!-- Seperator -->
    <div class="row mb-0 pb-0" style="justify-content: center;">
        <hr class="seperator-line col-10" style="color: white;">
    </div>
</div>

<div class="row">
    <!-- LEFT SPACE -->
    <div class="col-sm-2 "></div>
    <!-- BOX 1 -->
    <div class="col">
        <div class="container card-box">
            <h3 class="step-title">STEP 1</h3>

            <hr class="mt-1 " style="border: 1px white solid;">

            <h5>Upload a File</h5>
            <p>Supported file formats are:</p>
            <ul class="mt-0 pt-0">
                <li>Microsoft Excel (.xlsx)</li>
                <li>Microsoft Excel (.xls)</li>
                <li>Comma Seperated Values (.csv)</li>
            </ul>
        </div>
    </div>

    <!-- BOX 2 -->
    <div class="col">
        <div class="container card-box">
            <h3 class="step-title">STEP 2</h3>

            <hr class="mt-1 " style="border: 1px white solid;">

            <h5>Group Rows and Columns</h5>
            <!-- <img src="../static/upload_black_24dp.svg" alt="" height="150px"> -->
            <ul class="mt-0 pt-0">
                <li>Create groups</li>
                <li>Give them a names</li>
                <li>Put your rows and cols <br>in the groups you created</li>
            </ul>
        </div>
    </div>
    <!-- RIGHT SPACE -->
    <div class="col-sm-2"></div>
</div>

<div class="row mt-3">
    <!-- LEFT SPACE -->
    <div class="col-sm-2 "></div>
    <!-- BOX 3 -->
    <div class="col">
        <div class="container card-box">
            <h3 class="step-title">STEP 3</h3>

            <hr class="mt-1 " style="border: 1px white solid;">

            <h5>Download</h5>
            <!-- <img src="../static/upload_black_24dp.svg" alt="" height="150px"> -->
            <p>
                After you are done with grouping your matrix, hit the download.
            </p>
            <p>You can export the matrix in there file formats :</p>
            <ul>
                <li>Microsoft Excel (.xlsx)</li>
                <li>Microsoft Excel (.xls)</li>
                <li>Comma Seperated Values (.csv)</li>
            </ul>
        </div>
    </div>

    <!-- BOX 4 -->
        <div class="col">
        <div class="container card-box">
            <h3 class="step-title">STEP 4</h3>

            <hr class="mt-1 " style="border: 1px white solid;">

            <h5>Enter matrix coordinates</h5>
            <!-- <img src="../static/upload_black_24dp.svg" alt="" height="150px"> -->
            <p>
                Enter matrix coordinates.
            </p>
           </div>
    </div>

    <!-- BOX 4 -->
    <!-- RIGHT SPACE -->
    <div class="col-sm-2"></div>
</div>

{% endblock %}